@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(224, 224, 224);
}

.content {
    width: 50vw;
    margin: 0 auto;
}

.main-box {
    font-family: 'Ubuntu', sans-serif;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 5vw;
    color: white;
    margin: 0 auto;
    margin-top: 5vh;
}

.main-content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 100%;
    margin-top: 5vh;
    line-height: 1.75;
    font-size: 20px;
}

.list {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 100%;
    margin-top: 3vh;
    line-height: 1.75;
    font-size: 20px;
}

.list li {
    margin: 5vh;
    list-style: none;
}

.list li .heading {
    text-align: center;
    margin: 2vh;
}

.btn-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 7vh;
    margin: 0 auto;
    margin-bottom: 5vh;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    color: rgb(224, 224, 224);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 5vh;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1vw;
}

.footer p a {
    color: white;
    text-decoration: none;
}